In [185]:
pip install --upgrade comtradeapicall

Requirement already satisfied: comtradeapicall in c:\users\carlo\anaconda3\lib\site-packages (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [186]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import comtradeapicall
import pandas as pd
import sys

In [187]:
url = "https://www.ec.europa.eu/agrifood/api/wine/prices"          

response = requests.get(url)
r = response.json()
df = pd.DataFrame(r)

In [188]:
def gdp_data(countries, indicator, start_year, end_year):
    all_data = []
    for country in countries:
        url = f"http://api.worldbank.org/v2/country/{country}/indicator/{indicator}?date={start_year}:{end_year}&format=json"
        response = requests.get(url)
        data = response.json()

        for item in data[1]:  
            all_data.append({'Country': country, 'Year': item['date'], 'GDP Per Capita': item.get('value')})

    return pd.DataFrame(all_data)


countries = ["AT", "BE", "BG", "HR", "CY", "CZ", "DK", "EE", "FI", "FR", "DE", "GR", "HU", "IE", "IT", "LV", "LT", "LU", "MT", "NL", "PL", "PT", "RO", "SK", "SI", "ES", "SE"]

indicator_code = "NY.GDP.PCAP.CD"
start_year = 1995
end_year = 2022


df = gdp_data(countries, indicator_code, start_year, end_year)

df_pivot = df.pivot(index='Year', columns='Country', values='GDP Per Capita')

country_names = {
    "AT": "Austria", "BE": "Belgium", "BG": "Bulgaria", "HR": "Croatia", "CY": "Republic of Cyprus", "CZ": "Czech Republic", "DK": "Denmark", "EE": "Estonia", 
    "FI": "Finland", "FR": "France", "DE": "Germany", "GR": "Greece", "HU": "Hungary", "IE": "Ireland", "IT": "Italy", "LV": "Latvia", "LT": "Lithuania", 
    "LU": "Luxembourg", "MT": "Malta", "NL": "Netherlands", "PL": "Poland", "PT": "Portugal", "RO": "Romania", "SK": "Slovakia", "SI": "Slovenia", "ES": "Spain", "SE": "Sweden"}

df_pivot.rename(columns=country_names, inplace=True)

df_pivot

Country,Austria,Belgium,Bulgaria,Republic of Cyprus,Czech Republic,Germany,Denmark,Estonia,Spain,Finland,...,Luxembourg,Latvia,Malta,Netherlands,Poland,Portugal,Romania,Sweden,Slovenia,Slovakia
Year,,,,,,,,,,,,,,,,,,,,,
1995,30325.849582,28413.826439,2259.259226,15261.410156,5824.121291,31658.349379,35351.365461,3134.389753,15471.962717,26271.599814,...,51032.349635,2329.576733,9171.061035,29258.134349,3686.845146,11781.361850,1650.049224,30282.963920,10730.451014,4819.125555
1996,29809.076773,27489.555177,1470.192593,15139.226562,6532.837055,30485.866548,35650.714086,3380.926302,16109.084399,25783.450488,...,50444.359124,2431.709000,9438.557327,29006.809445,4147.465501,12185.091401,1633.010644,32998.968161,10815.111046,5196.940380
1997,26705.478599,24820.938050,1361.409384,14234.244141,6034.488437,26964.049467,32835.939940,3682.952301,14730.797175,24691.872813,...,46641.640875,2683.241368,9724.337970,26700.537134,4123.145677,11575.507112,1577.336560,30312.487599,10454.965639,5146.671078
1998,27361.875111,25338.443293,1820.448664,15092.826172,6489.703619,27289.059360,33368.142415,4093.392477,15394.351463,26009.269489,...,47445.381081,2973.534843,10273.451812,27885.808382,4518.108226,12199.206385,1852.554969,30596.527205,11175.771029,5538.616465
1999,27183.475926,25252.801907,1659.718611,15287.918945,6337.419120,26734.942537,33440.794805,4140.936602,15720.640502,26186.190011,...,50872.449268,3151.577018,10720.905877,28272.643249,4398.072174,12475.291770,1599.906228,30941.079362,11452.783125,5645.581396
2000,24625.600723,23098.886508,1621.262107,14388.347656,6029.038193,23694.760483,30743.547682,4070.609024,14749.687425,24345.914822,...,48659.598875,3361.640869,10432.328062,26214.498550,4501.479961,11526.372067,1659.929049,29624.912675,10201.303537,5426.624281
2001,24558.763678,23015.071263,1770.907049,14821.447266,6637.041657,23628.327212,30751.654348,4505.858332,15369.001160,24967.792515,...,48440.142015,3578.001900,10402.233331,26896.548111,4991.244358,11734.764974,1825.192994,27247.857735,10479.759631,5722.168183
2002,26527.593091,25006.191397,2092.982886,16093.214844,8060.868703,25197.265600,33228.693545,5341.628947,17106.686577,26997.752990,...,53005.733921,4136.933297,11289.889745,29343.244996,5207.129304,12936.692820,2119.855097,29899.195250,11777.155658,6564.696314
2003,32294.048861,30655.209268,2719.494369,20252.238281,9818.568493,30310.357596,40458.777399,7203.523038,21510.836245,32927.680292,...,65689.321454,5145.195232,13669.497217,35750.974663,5701.638863,15797.782134,2679.406260,37321.797905,14849.037242,8731.937368
2004,36889.233514,35429.407793,3389.687434,23792.621094,11749.852664,34106.658122,46511.598332,8914.103557,24907.000851,37772.178111,...,76544.917087,6378.666521,15197.056610,40436.618231,6681.309751,18064.158093,3494.990564,42821.673142,17233.138561,10691.446550
2005,38417.457786,36809.701340,3899.825963,24959.259766,13430.669896,34520.239649,48799.825601,10412.644314,26429.150945,39054.850442,...,80988.137623,7594.902384,15888.172457,41994.713531,8021.547890,18780.127512,4618.003508,43437.063116,18098.908544,11690.113469
2006,40669.326959,38705.106796,4523.146558,26729.324219,15261.797591,36353.880334,52026.999514,12639.400068,28389.078580,41222.602000,...,90788.800488,9723.446902,16723.884274,44900.938144,9035.532758,19839.454050,5757.531273,46593.602165,19672.965555,13170.784980
2007,46915.337400,44319.165449,5888.776852,31244.925781,18466.547930,41640.080870,58487.054968,16744.584452,32591.350307,48476.392729,...,107475.320298,14113.529128,19485.871153,51799.208552,11254.314088,22811.056484,8360.337759,53700.005336,23817.886732,16106.060445
2008,51919.983575,48303.397956,7271.303389,35397.363281,22804.577677,45612.710622,64322.063502,18204.966479,35510.722231,53772.794239,...,120422.137934,16467.143688,22205.356771,57879.943755,13995.781160,24949.041357,10435.217980,56152.552340,27595.599965,18753.584941
2009,48153.324020,44760.291244,6988.273163,32109.242188,19861.697430,41650.367830,58163.276876,14711.735273,32169.502855,47481.484536,...,109419.746953,12331.928552,21083.277053,52722.213057,11525.900737,23151.215413,8548.048590,46946.960272,24792.127981,16597.208458
2010,46903.761585,44184.946354,6863.667068,31023.267578,19960.068487,41572.455948,58041.398436,14663.044613,30532.480508,46505.303179,...,110885.991379,11420.994003,21798.914294,50999.745117,12504.250186,22520.642312,8397.809173,52869.044289,23532.480855,16908.847956
2011,51442.276246,47410.566928,7857.167070,32395.753906,21871.266075,46705.895796,61753.647132,17487.804783,31677.900308,51148.931637,...,119025.057203,13338.962235,23155.103527,54230.312903,13776.388362,23217.295497,9560.159425,60755.759551,25128.015043,18509.740216
2012,48564.917335,44670.560685,7430.737380,28910.746094,19870.801212,43855.854466,58507.508052,17403.205325,28322.946592,47708.061278,...,112584.676271,13847.337939,22526.537021,50070.141605,13010.755587,20563.713601,8930.729912,58037.821319,22641.805123,17498.353900
2013,50731.127254,46757.951856,7687.713682,27727.535156,20133.169143,46298.922918,61191.193704,19056.001923,29077.182056,49892.223363,...,120000.140730,15007.491856,24769.596229,52198.897561,13558.341131,21653.195975,9497.206476,61126.943196,23503.282485,18276.009552
2014,51786.377175,47764.071512,7912.274844,27162.322266,19890.919906,48023.869985,62548.984733,20261.066730,29513.651180,50327.240290,...,123678.702143,15742.391338,26753.273383,52900.537415,14181.948682,22103.700970,10031.342153,60020.360458,24247.173318,18719.988141
2015,44195.817595,41008.296719,7078.860323,23408.441406,17829.698322,41103.256436,53254.856370,17402.037613,25754.361029,42801.908117,...,105462.012584,13786.456795,24921.714177,45193.403219,12560.051420,19250.106538,8976.954489,51545.483610,20890.166430,16390.882175
2016,45307.587862,42012.622719,7570.931655,24605.349609,18575.232027,42136.120791,54663.998372,18295.342932,26537.159489,43814.026506,...,106899.293550,14331.751589,25623.941632,46039.105928,12378.811764,19991.972488,9404.381259,51965.157153,21678.359467,16563.440497
2017,47429.158456,44198.482391,8381.881346,26608.695312,20636.199952,44652.589172,57610.098180,20437.765377,28185.321367,46412.136478,...,110193.213797,15695.115154,28813.185340,48675.222335,13815.499946,21490.429863,10727.970863,53791.508730,23514.025460,17585.197002
2018,51466.556563,47544.981147,9447.655897,29335.046875,23424.480460,47939.278288,61591.928870,23165.849479,30379.721113,49987.626158,...,116786.511655,17865.031095,31785.884830,53044.532435,15504.508937,23562.554523,12494.423579,54589.060386,26123.747128,19486.393685
2019,50067.585727,46641.721402,9874.336326,29420.000000,23664.847863,46805.138433,59592.980689,23424.484707,29581.518551,48629.858228,...,112726.439673,17883.349411,31727.007075,52476.273253,15700.013580,23330.817289,12957.999114,51939.429745,26042.446347,19381.890547
2020,48789.497850,45609.003494,10148.342395,28281.425781,22992.879383,46749.476228,60836.592412,23595.243684,26984.296277,49169.719339,...,116905.370397,18096.202707,29597.636163,52162.570115,15816.820402,22242.406418,13047.456656,52837.903978,25558.429054,19552.091110
2021,53517.890451,51850.397184,12219.341871,32745.843750,26822.514186,51426.750365,69268.651798,27943.701220,30488.820953,53504.693648,...,133711.794436,20930.398237,34881.291273,58727.870547,18050.279444,24661.166487,14946.624969,61417.680877,29331.064701,21768.148671
2022,52084.681195,49926.825430,13974.449249,32048.240234,27226.615639,48717.991140,67790.053992,28247.095992,29674.544286,50871.930451,...,125006.021815,21779.504257,34127.510557,57025.012456,18688.004487,24515.265851,15786.801742,56424.284699,28439.334099,21256.808427

In [189]:
df_new = df_pivot.T


df_new.reset_index(inplace=True)
df_new.rename(columns={'index': 'Country'}, inplace=True)


data_melted = df_new.melt(id_vars=['Country'], var_name='Year', value_name='GDP per Capita')

data_melted

                Country  Year  GDP per Capita
0               Austria  1995    30325.849582
1               Belgium  1995    28413.826439
2              Bulgaria  1995     2259.259226
3    Republic of Cyprus  1995    15261.410156
4        Czech Republic  1995     5824.121291
..                  ...   ...             ...
751            Portugal  2022    24515.265851
752             Romania  2022    15786.801742
753              Sweden  2022    56424.284699
754            Slovenia  2022    28439.334099
755            Slovakia  2022    21256.808427

[756 rows x 3 columns]

In [190]:
euroinfo_df = pd.read_excel("euro_wineinfo95_23.xlsx")
euroinfo_df.dropna(subset="Product", inplace=True)
euroinfo_df.head(2)
eurovineyard_df = pd.read_excel("europe_vineyard.xlsx")
eurovineyard_df.dropna(subset="Product", inplace=True)
eurovineyard_df.rename(columns= {"Unit": "Vineyard_Unit","Quantity": "Vineyard_Quantity", }, inplace=True)
eurovineyard_df.drop(columns=["Continent"], inplace=True)
eurovineyard_df.drop(columns=["Variable"], inplace=True)
eurovineyard_df.drop(columns=["Product"], inplace=True)
eurovineyard_df["Year"] = eurovineyard_df["Year"].astype(int)
eurovineyard_df.rename(columns= {"Region/Country": "Country" }, inplace=True)

c:\Users\carlo\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\carlo\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [191]:
production = euroinfo_df[euroinfo_df["Variable"].str.contains("Production")]
consumption = euroinfo_df[euroinfo_df["Variable"].str.contains("Consumption")]
exports = euroinfo_df[euroinfo_df["Variable"].str.contains("Exports")]
imports = euroinfo_df[euroinfo_df["Variable"].str.contains("Imports")]

In [192]:
production.rename(columns= {"Quantity": "Production_Quantity", "Unit" : "Production_Unit"}, inplace=True)
production.drop(columns=["Continent"], inplace=True)
production.drop(columns=["Variable"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\205264687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production.rename(columns= {"Quantity": "Production_Quantity", "Unit" : "Production_Unit"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\205264687.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production.drop(columns=["Continent"], inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\205264687.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  production.drop(columns=["Variable"], inplace=True)

In [193]:
consumption.rename(columns= {"Quantity": "Consumption_Quantity", "Unit" : "Consumption_Unit"}, inplace=True)
consumption.drop(columns=["Continent"], inplace=True)
consumption.drop(columns=["Variable"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\3865701010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consumption.rename(columns= {"Quantity": "Consumption_Quantity", "Unit" : "Consumption_Unit"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\3865701010.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consumption.drop(columns=["Continent"], inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\3865701010.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consumption.drop(columns=["Variable"], inplace=True)

In [194]:
imports.rename(columns= {"Quantity": "Import_Quantity", "Unit" : "Import_Unit"}, inplace=True)
imports.drop(columns=["Continent"], inplace=True)
imports.drop(columns=["Variable"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\1776700761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imports.rename(columns= {"Quantity": "Import_Quantity", "Unit" : "Import_Unit"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\1776700761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imports.drop(columns=["Continent"], inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\1776700761.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imports.drop(columns=["Variable"], inplace=True)

In [195]:
exports.rename(columns= {"Quantity": "Export_Quantity", "Unit" : "Export_Unit"}, inplace=True)
exports.drop(columns=["Continent"], inplace=True)
exports.drop(columns=["Variable"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2313596907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports.rename(columns= {"Quantity": "Export_Quantity", "Unit" : "Export_Unit"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2313596907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports.drop(columns=["Continent"], inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2313596907.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exports.drop(columns=["Variable"], inplace=True)

In [196]:
euro_full = pd.merge(production,consumption, on=["Region/Country","Year","Product"], how="outer")
euro_full = pd.merge(euro_full,exports, on=["Region/Country","Year","Product"], how="outer")
euro_full = pd.merge(euro_full,imports, on=["Region/Country","Year","Product"], how="outer")
euro_full["Production_Quantity"].fillna(0.0, inplace=True)
euro_full["Consumption_Quantity"].fillna(0.0, inplace=True)
euro_full["Export_Quantity"].fillna(0.0, inplace=True)
euro_full["Import_Quantity"].fillna(0.0, inplace=True)
euro_full["Production_Unit"].fillna("N/A", inplace=True)
euro_full["Consumption_Unit"].fillna("N/A", inplace=True)
euro_full["Export_Unit"].fillna("N/A", inplace=True)
euro_full["Import_Unit"].fillna("N/A", inplace=True)
euro_full["Year"] = euro_full["Year"].astype(int)

In [197]:
euro_complete_wine = euro_full[euro_full["Product"]== "Wine"]
euro_complete_wine.rename(columns= {"Production_Unit": "Wine_Production_Unit", "Production_Quantity" : "Wine_Production_Quantity", "Consumption_Unit" : "Wine_Consumption_Unit", "Consumption_Quantity" : "Wine_Consumption_Quantity", "Export_Unit" : "Wine_Export_Unit", "Export_Quantity" : "Wine_Export_Quantity", "Import_Unit" : "Wine_Import_Unit", "Wine_Import_Quantity" : "Wine_Import_Quantity"}, inplace=True)
euro_complete_wine.drop(columns=["Product"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2626933973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_wine.rename(columns= {"Production_Unit": "Wine_Production_Unit", "Production_Quantity" : "Wine_Production_Quantity", "Consumption_Unit" : "Wine_Consumption_Unit", "Consumption_Quantity" : "Wine_Consumption_Quantity", "Export_Unit" : "Wine_Export_Unit", "Export_Quantity" : "Wine_Export_Quantity", "Import_Unit" : "Wine_Import_Unit", "Wine_Import_Quantity" : "Wine_Import_Quantity"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2626933973.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_wine.drop(columns=["Product"], inplace=True)

In [198]:
euro_complete_fgrapes = euro_full[euro_full["Product"]== "Fresh Grapes"]
euro_complete_fgrapes.rename(columns= {"Production_Unit": "Fresh_Grapes_Production_Unit", "Production_Quantity" : "Fresh_Grapes_Production_Quantity", "Consumption_Unit" : "Fresh_Grapes_Consumption_Unit", "Consumption_Quantity" : "Fresh_Grapes_Consumption_Quantity", "Export_Unit" : "Fresh_Grapes_Export_Unit", "Export_Quantity" : "Fresh_Grapes_Export_Quantity", "Import_Unit" : "Fresh_Grapes_Import_Unit", "Import_Quantity" : "Fresh_Grapes_Import_Quantity"}, inplace=True)
euro_complete_fgrapes.drop(columns=["Product"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\480017156.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_fgrapes.rename(columns= {"Production_Unit": "Fresh_Grapes_Production_Unit", "Production_Quantity" : "Fresh_Grapes_Production_Quantity", "Consumption_Unit" : "Fresh_Grapes_Consumption_Unit", "Consumption_Quantity" : "Fresh_Grapes_Consumption_Quantity", "Export_Unit" : "Fresh_Grapes_Export_Unit", "Export_Quantity" : "Fresh_Grapes_Export_Quantity", "Import_Unit" : "Fresh_Grapes_Import_Unit", "Import_Quantity" : "Fresh_Grapes_Import_Quantity"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\480017156.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_fgrapes.drop(columns=["Product"], inplace=True)

In [199]:
euro_complete_tgrapes = euro_full[euro_full["Product"]== "Table Grapes"]
euro_complete_tgrapes.rename(columns= {"Production_Unit": "Table_Grapes_Production_Unit", "Production_Quantity" : "Table_Grapes_Production_Quantity", "Consumption_Unit" : "Table_Grapes_Consumption_Unit", "Consumption_Quantity" : "Table_Grapes_Consumption_Quantity", "Export_Unit" : "Table_Grapes_Export_Unit", "Export_Quantity" : "Table_Grapes_Export_Quantity", "Import_Unit" : "Table_Grapes_Import_Unit", "Import_Quantity" : "Table_Grapes_Import_Quantity"}, inplace=True)
euro_complete_tgrapes.drop(columns=["Product"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\1659718513.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_tgrapes.rename(columns= {"Production_Unit": "Table_Grapes_Production_Unit", "Production_Quantity" : "Table_Grapes_Production_Quantity", "Consumption_Unit" : "Table_Grapes_Consumption_Unit", "Consumption_Quantity" : "Table_Grapes_Consumption_Quantity", "Export_Unit" : "Table_Grapes_Export_Unit", "Export_Quantity" : "Table_Grapes_Export_Quantity", "Import_Unit" : "Table_Grapes_Import_Unit", "Import_Quantity" : "Table_Grapes_Import_Quantity"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\1659718513.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_tgrapes.drop(columns=["Product"], inplace=True)

In [200]:
euro_complete_dgrapes = euro_full[euro_full["Product"]== "Dried Grapes"]
euro_complete_dgrapes.rename(columns= {"Production_Unit": "Dried_Grapes_Production_Unit", "Production_Quantity" : "Dried_Grapes_Production_Quantity", "Consumption_Unit" : "Dried_Grapes_Consumption_Unit", "Consumption_Quantity" : "Dried_Grapes_Consumption_Quantity", "Export_Unit" : "Dried_Grapes_Export_Unit", "Export_Quantity" : "Dried_Grapes_Export_Quantity", "Import_Unit" : "Dried_Grapes_Import_Unit", "Import_Quantity" : "Dried_Grapes_Import_Quantity"}, inplace=True)
euro_complete_dgrapes.drop(columns=["Product"], inplace=True)

C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2677953816.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_dgrapes.rename(columns= {"Production_Unit": "Dried_Grapes_Production_Unit", "Production_Quantity" : "Dried_Grapes_Production_Quantity", "Consumption_Unit" : "Dried_Grapes_Consumption_Unit", "Consumption_Quantity" : "Dried_Grapes_Consumption_Quantity", "Export_Unit" : "Dried_Grapes_Export_Unit", "Export_Quantity" : "Dried_Grapes_Export_Quantity", "Import_Unit" : "Dried_Grapes_Import_Unit", "Import_Quantity" : "Dried_Grapes_Import_Quantity"}, inplace=True)
C:\Users\carlo\AppData\Local\Temp\ipykernel_39140\2677953816.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  euro_complete_dgrapes.drop(columns=["Product"], inplace=True)

In [201]:
euro_gdp_df = data_melted.copy()
euro_gdp_df["Year"] = euro_gdp_df["Year"].astype(int)

In [202]:
euro_complete = pd.DataFrame()
euro_complete = pd.merge(euro_complete_wine,euro_complete_fgrapes, on=["Region/Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,euro_complete_tgrapes, on=["Region/Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,euro_complete_dgrapes, on=["Region/Country","Year"], how="outer")
euro_complete.rename(columns= {"Region/Country": "Country" }, inplace=True)
euro_complete = pd.merge(euro_complete,euro_gdp_df, on=["Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,eurovineyard_df, on=["Country","Year"], how="outer")
euro_complete= euro_complete.sort_values(["Country","Year"])
euro_complete.reset_index(drop=True)
colu = ['Country', 'Year','GDP per Capita', 'Wine_Production_Quantity','Wine_Consumption_Quantity','Wine_Export_Quantity', 'Import_Quantity', 'Fresh_Grapes_Production_Quantity', 'Fresh_Grapes_Consumption_Quantity', 'Fresh_Grapes_Export_Quantity', 'Fresh_Grapes_Import_Quantity', 'Table_Grapes_Production_Quantity', 'Table_Grapes_Consumption_Quantity', 'Table_Grapes_Export_Quantity', 'Table_Grapes_Import_Quantity', 'Vineyard_Quantity', 'Wine_Production_Unit', 'Vineyard_Unit','Wine_Consumption_Unit','Wine_Export_Unit','Wine_Import_Unit','Fresh_Grapes_Production_Unit','Fresh_Grapes_Consumption_Unit','Fresh_Grapes_Export_Unit','Fresh_Grapes_Import_Unit','Table_Grapes_Production_Unit','Table_Grapes_Consumption_Unit','Table_Grapes_Export_Unit','Table_Grapes_Import_Unit']
euro_complete = euro_complete[colu]
euro_complete["GDP per Capita"] = euro_complete["GDP per Capita"].round(2)

In [203]:
url = "https://www.ec.europa.eu/agrifood/api/wine/prices"          

response = requests.get(url)
r = response.json()
df = pd.DataFrame(r)

In [204]:
df["price"]=df["price"].str.replace("€","")
df["price"]=df["price"].str.replace(",",".").astype("float")
df["beginDate"]=df["beginDate"].apply(lambda x: "_".join(x.split("/")[::-1]).strip())
df["endDate"]=df["endDate"].apply(lambda x: "_".join(x.split("/")[::-1]).strip())
df=df.sort_values(by=["beginDate"])

# Separate by country so the dates intervals is also associated by country
df_list_countries = [df[df["memberStateName"]==country] for country in list(df["memberStateName"].unique())]
df_list_countries

for index in range(0,df["memberStateName"].nunique()):
    globals()[f"df_{index}"] = df_list_countries[index]
    # print(f"df_{index}")

In [205]:
# FRANCE WINE PRICES IN JULY
df_france = df_0.pivot_table(index=['memberStateName',"description"], columns=['beginDate'], values=['price'])

f_columns_list=[]
for i in df_france.columns:
        if "_07_" in i[1]:
           f_columns_list.append(i)

df_france=df_france.filter(items=f_columns_list,axis=1)
df_france.columns=df_france.columns.droplevel()
df_france.drop(["2013_07_29","2019_07_29"],axis=1, inplace = True)

new_column=[column.split("_")[0] for column in list(df_france.columns)]
    
df_france.columns=new_column
df_france=df_france.T

# Changing structure to merge
df_france=df_france.reset_index().reset_index()
df_france.columns=[('level_0', 'Country'),(  'index', 'Year'),( 'France','Blancs / Vin AOP'),( 'France','Blancs / Vin IGP'),( 'France', 'Blancs / Vin sans IG avec mention de cépages'),( 'France', 'Blancs / Vin sans IG sans mention de cépages'),( 'France', 'Rouges et Rosés / Vin AOP'),( 'France', 'Rouges et Rosés / Vin IGP'),( 'France', 'Rouges et Rosés / Vin sans IG avec mention de cépages'),( 'France', 'Rouges et Rosés / Vin sans IG sans mention de cépages')]
df_columns_new=[]
for i in df_france.columns:
    i=i[1]
    df_columns_new.append(i)

df_france.columns=df_columns_new
df_france["Country"]=df_france["Country"].apply(lambda x: str(x).replace(str(x),"France"))
# df_france

In [206]:
# GERMANY WINE PRICES IN JULY
df_germany = df_1.pivot_table(index=['memberStateName',"description"], columns=['beginDate'], values=['price'])

g_columns_list=[]
for i in df_germany.columns:
        if "_07_" in i[1]:
           g_columns_list.append(i)

df_germany=df_germany.filter(items=g_columns_list,axis=1)

df_germany.columns=df_germany.columns.droplevel()
df_germany.drop(["2013_07_29","2019_07_29"],axis=1, inplace = True)


new_column=[column.split("_")[0] for column in list(df_germany.columns)]
    
df_germany.columns=new_column
df_germany=df_germany.T

# Changing structure to merge
df_germany=df_germany.reset_index().reset_index()
df_germany.columns=[('level_0','Country'),(  'index',                                'Year'),('Germany',                  'Mosel Qba Weiß'),('Germany',        'Pfalz QbA Rot Dornfelder'),('Germany',                  'Pfalz Qba Weiß'),('Germany',       'Pfalz ohne Rebsorteangabe'),('Germany',               'Rheingau Qba Weiß'),('Germany',            'Rheinhessen Qba Weiß'),('Germany', 'Rheinhessen ohne Rebsorteangabe')]
df_columns_new=[]
for i in df_germany.columns:
    i=i[1]
    df_columns_new.append(i)

df_germany.columns=df_columns_new
df_germany["Country"]=df_germany["Country"].apply(lambda x: str(x).replace(str(x),"Germany"))
# df_germany

In [207]:
# ITALY WINE PRICES IN JULY
df_italy = df_2.pivot_table(index=['memberStateName',"description"], columns=['beginDate'], values=['price'])

i_columns_list=[]
for i in df_italy.columns:
        if "_07_" in i[1]:
           i_columns_list.append(i)

df_italy=df_italy.filter(items=i_columns_list,axis=1)

df_italy.columns=df_italy.columns.droplevel()
df_italy.drop(["2019_07_29"],axis=1, inplace = True)

new_column=[column.split("_")[0] for column in list(df_italy.columns)]
    
df_italy.columns=new_column
df_italy=df_italy.T

# Changing structure to merge
df_italy=df_italy.reset_index().reset_index()
df_italy.columns=[('level_0','Country'),('index', 'Year'),(  'Italy','Altri Vini'),(  'Italy',    'Bari Vino bianco senza DOP/IGP'),      (  'Italy',     'Bari Vino rosso senza DOP/IGP'),(  'Italy',    'Lugo Vino bianco senza DOP/IGP'),(  'Italy',               'Lugo Vino rosso DOP'),(  'Italy', 'Pescara Vino bianco senza DOP/IGP'),(  'Italy',  'Pescara Vino rosso senza DOP/IGP'),(  'Italy', 'Ravenna Vino bianco senza DOP/IGP'),(  'Italy', 'Trapani Vino bianco senza DOP/IGP'),(  'Italy',  'Trapani Vino rosso senza DOP/IGP'),(  'Italy',            'Verona Vino bianco DOP'),(  'Italy',   'Verona Vino rosso senza DOP/IGP')]
df_columns_new=[]
for i in df_italy.columns:
    i=i[1]
    df_columns_new.append(i)

df_italy.columns=df_columns_new
df_italy["Country"]=df_italy["Country"].apply(lambda x: str(x).replace(str(x),"Italy"))
# df_italy

In [208]:
# SPAIN WINE PRICES IN JULY
df_spain = df_3.pivot_table(index=['memberStateName',"description"], columns=['beginDate'], values=['price'])

s_columns_list=[]
for i in df_spain.columns:
        if "_07_" in i[1]:
           s_columns_list.append(i)

df_spain=df_spain.filter(items=s_columns_list,axis=1)

df_spain.columns=df_spain.columns.droplevel()
df_spain.drop(["2019_07_29"],axis=1, inplace = True)

new_column=[column.split("_")[0] for column in list(df_spain.columns)]
    
df_spain.columns=new_column
df_spain=df_spain.T

# Changing structure to merge
df_spain=df_spain.reset_index().reset_index()
df_spain.columns=[('level_0', 'Country'),('index', 'Year'),('Spain', 'Albacete vino blanco sin DOP/IGP'),('Spain', 'Albacete vino tinto sin DOP/IGP'),('Spain', 'Badajoz vino blanco sin DOP/IGP'),('Spain', 'Ciudad Real vino blanco sin DOP/IGP'),('Spain', 'Ciudad Real vino tinto sin DOP/IGP'),('Spain', 'Rioja DOP vino tinto'), ('Spain', 'Rueda DOP vino blanco'), ('Spain', 'Toledo vino blanco sin DOP/IGP'), ('Spain', 'Toledo vino tinto sin DOP/IGP'), ('Spain', 'Valencia vino tinto sin DOP/IGP')]
df_columns_new=[]
for i in df_spain.columns:
    i=i[1]
    df_columns_new.append(i)

df_spain.columns=df_columns_new
df_spain["Country"]=df_spain["Country"].apply(lambda x: str(x).replace(str(x),"Spain"))
# df_spain

In [209]:
df_italy["Year"] = df_italy["Year"].astype(int)
df_spain["Year"] = df_spain["Year"].astype(int)
df_france["Year"] = df_france["Year"].astype(int)
df_germany["Year"] = df_germany["Year"].astype(int)

In [210]:
euro_complete = pd.merge(complete,df_spain, on=["Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,df_france, on=["Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,df_germany, on=["Country","Year"], how="outer")
euro_complete = pd.merge(euro_complete,df_italy, on=["Country","Year"], how="outer")
euro_complete.drop(columns=["Unnamed: 0"], inplace=True)

In [211]:
countries = [
    "Austria", "Belgium", "Bulgaria", "Croatia", "Republic of Cyprus", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland",
    "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden", "Luxemburg", "Cyprus"]
df_filtered = euro_complete[euro_complete['Country'].isin(countries)]
df_filtered.reset_index(drop=True, inplace=True)
df_filtered = df_filtered[df_filtered['Year'].between(1995, 2022)]
df_filtered.rename(columns={
    'Wine_Production_Quantity': 'Wine production (1000 hl)',
    'Wine_Consumption_Quantity': 'Wine consumption (1000 hl)',
    'Vineyard_Quantity': 'Vineyard (ha)'}, inplace=True)
columns_to_drop = [
    'Fresh_Grapes_Consumption_Quantity', 'Table_Grapes_Production_Quantity', 
    'Table_Grapes_Export_Quantity', 'Table_Grapes_Import_Quantity', 
    'Wine_Production_Unit', 'Vineyard_Unit', 'Wine_Consumption_Unit', 
    'Wine_Export_Unit', 'Wine_Import_Unit', 'Fresh_Grapes_Production_Unit', 
    'Fresh_Grapes_Consumption_Unit', 'Fresh_Grapes_Export_Unit', 
    'Fresh_Grapes_Import_Unit', 'Table_Grapes_Production_Unit', 
    'Table_Grapes_Consumption_Unit', 'Table_Grapes_Export_Unit', 'Table_Grapes_Import_Unit']
df_filtered.drop(columns=columns_to_drop, inplace=True)
df_filtered.rename(columns={
    'Wine_Export_Quantity': 'Wine export (1000 hl)',
    'Import_Quantity': 'Import (1000 hl)',
    'Fresh_Grapes_Production_Quantity': 'Fresh grapes production (tonne)',
    'Fresh_Grapes_Export_Quantity': 'Fresh grapes export (tonne)',
    'Fresh_Grapes_Import_Quantity': 'Fresh grapes import (tonne)',
    'Table_Grapes_Consumption_Quantity': 'Table grapes consumption (tonne)'}, inplace=True)
df_filtered.iloc[:, 2:] = df_filtered.iloc[:, 2:].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)
df_filtered.rename(columns={'GDP per Capita': 'GDP per capita (USD)'}, inplace=True)
df_filtered

,Country,Year,GDP per capita (USD),Wine production (1000 hl),Wine consumption (1000 hl),Wine Export Value,Wine export (1000 hl),Wine Import Value,Import (1000 hl),Fresh grapes production (tonne),...,Bari Vino rosso senza DOP/IGP,Lugo Vino bianco senza DOP/IGP,Lugo Vino rosso DOP,Pescara Vino bianco senza DOP/IGP,Pescara Vino rosso senza DOP/IGP,Ravenna Vino bianco senza DOP/IGP,Trapani Vino bianco senza DOP/IGP,Trapani Vino rosso senza DOP/IGP,Verona Vino bianco DOP,Verona Vino rosso senza DOP/IGP
0,Austria,1995,30325.0,2229.0,2545.0,0.0,197.0,68852016.0,237.0,289800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Austria,1996,29809.0,2110.0,2420.0,0.0,170.0,76646672.0,248.0,274343.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Austria,1997,26705.0,1802.0,2498.0,0.0,217.0,103114344.0,518.0,234300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Austria,1998,27361.0,2703.0,2478.0,0.0,112.0,128549456.0,314.0,351412.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Austria,1999,27183.0,2803.0,2505.0,0.0,227.0,120879604.0,565.0,364440.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,Sweden,2018,54589.0,0.0,2063.0,0.0,85.0,784068184.0,2123.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
825,Sweden,2019,51939.0,0.0,2025.0,0.0,78.0,773742140.0,2089.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,Sweden,2020,52837.0,0.0,2130.0,0.0,74.0,853186760.0,2323.0,160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,Sweden,2021,61417.0,0.0,2119.0,0.0,76.0,888131821.0,2066.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
828,Sweden,2022,56424.0,0.0,1993.0,25128008.0,80.0,0.0,2076.0,140.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [213]:
df_filtered

,Country,Year,GDP per capita (USD),Wine production (1000 hl),Wine consumption (1000 hl),Wine Export Value,Wine export (1000 hl),Wine Import Value,Import (1000 hl),Fresh grapes production (tonne),...,Bari Vino rosso senza DOP/IGP,Lugo Vino bianco senza DOP/IGP,Lugo Vino rosso DOP,Pescara Vino bianco senza DOP/IGP,Pescara Vino rosso senza DOP/IGP,Ravenna Vino bianco senza DOP/IGP,Trapani Vino bianco senza DOP/IGP,Trapani Vino rosso senza DOP/IGP,Verona Vino bianco DOP,Verona Vino rosso senza DOP/IGP
0,Austria,1995,30325.0,2229.0,2545.0,0.0,197.0,68852016.0,237.0,289800.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Austria,1996,29809.0,2110.0,2420.0,0.0,170.0,76646672.0,248.0,274343.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Austria,1997,26705.0,1802.0,2498.0,0.0,217.0,103114344.0,518.0,234300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Austria,1998,27361.0,2703.0,2478.0,0.0,112.0,128549456.0,314.0,351412.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Austria,1999,27183.0,2803.0,2505.0,0.0,227.0,120879604.0,565.0,364440.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,Sweden,2018,54589.0,0.0,2063.0,0.0,85.0,784068184.0,2123.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
825,Sweden,2019,51939.0,0.0,2025.0,0.0,78.0,773742140.0,2089.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,Sweden,2020,52837.0,0.0,2130.0,0.0,74.0,853186760.0,2323.0,160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
827,Sweden,2021,61417.0,0.0,2119.0,0.0,76.0,888131821.0,2066.0,130.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
828,Sweden,2022,56424.0,0.0,1993.0,25128008.0,80.0,0.0,2076.0,140.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
df_filtered.to_excel(r"C:\Users\carlo\Documents\Ironhack\Mini Project\w3_project\euro_complete.xlsx")